#menu-search-bar {
    float: none;
}
.panel-heading h3 {
    text-align: center;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(100, 100, 100, 0.2);
    border-right: 1.1em solid rgba(100, 100, 100, 0.2);
    border-bottom: 1.1em solid rgba(100, 100, 100, 0.2);
    border-left: 1.1em solid rgb(100, 100, 100);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


#menu-navbar {
    margin-bottom: 0;
    line-height: 70px;
}

#menu-container {
    padding-top: 0px;
}

#main-title {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

@media (max-width: 767px) {
    .user-dropdown-menu {
        margin-top: 10px;
    }

    #main-title {
        margin-left: 10px;
    }

    #search-menu {
        min-width: 100px;
    }
}

@media (min-width: 768px) {
    #menu-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-nav {
        width: 80%;
    }
    #search-menu {
        max-width: 750px;
    }

    .navbar-header {
        width: 20%;
    }
}


.fixed {
    height:400px;
    overflow:hidden;
    background:orange;
}

.scrollit {
    height:400px;
    overflow-y:scroll;
    background:lightgray;
}

.search-image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.search-image {
    position:relative;
    max-height: 200px;
    max-width:  100%;
}

.result
{
    position: relative;
    height: 350px;
    margin: 0;
    padding: 5px 5px;
    border: none;
    text-align: center;
}

.thumbnail-result {
    position: relative;
    height: 100%;
}

.search-results {
    max-width: 100%;
}

.results {
    margin-top: 15px;
}

.left-navbars {
    margin-top: 15px;
}

.search-summary {
    float: left;
}

.search-sort {
    float: right;
}

.search-headers {
    margin: 10px;
    width: 100%;
    height: 50px;
}

.underline {
    text-decoration: underline;
}