<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="millesimes-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#millesimes-collapse" aria-expanded="true" aria-controls="millesimes-collapse">
                    Millésime
                </a>
            </h4>
        </div>
        <div id="millesimes-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="millesimes-heading" data-field="@tpmillesime">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="categories-heading">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#categories-collapse" aria-expanded="false" aria-controls="categories-collapse">
                    Catégorie
                </a>
            </h4>
        </div>
        <div id="categories-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="categories-heading" data-field="@tpcategorie">
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="country-heading">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#country-collapse" aria-expanded="false" aria-controls="country-collapse">
                    Pays
                </a>
            </h4>
        </div>
        <div id="country-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="country-heading" data-field="@tppays">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
