<nav id="menu-navbar" class="navbar navbar-inverse">
    <div id="menu-container">
        <div class="navbar-header">
            <a id="main-title" class="view-home" href="#">SAQClient</a>
        </div>
        <div id="search-menu" class="navbar-collapse collapse">
            <form class="input-group">
                <input id="menu-search-bar" class="form-control search-box" placeholder="Search with UMovie"
                       type="text"/>
                <div class="search-dropdown"></div>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-menu-search">Search</button>
                </span>
            </form>
        </div>
    </div>
</nav>