<div class="search-loader loader">
    <div class="search-headers">
        <div class="row">
            <div class="search-summary">
                Résultats
                <span>
                    <b>
                        <%= currentPageNumber %>
                    </b>
                    -
                    <b class="numberMaxOfPage">
                        <%= numberMaxOfPage %>
                    </b>
                     de
                </span>
                <span>
                    <b>
                        <%= totalCountFiltered %>
                    </b> en
                    <small>
                        <i>
                            <%= duration %> millisecondes
                        </i>
                    </small>
                </span>
            </div>
            <div class="search-sort">
                <span>Millesime</span>
                <span>Prix</span>
                <span>Prix</span>
            </div>
        </div>

        <div class="row">
            <div>
                Résultats par page
                <button type="button" class="numberOfResults numberOfResults-12 btn btn-link" data-number="12">12</button>
                <button type="button" class="numberOfResults numberOfResults-24 btn btn-link" data-number="24">24</button>
                <button type="button" class="numberOfResults numberOfResults-50 btn btn-link" data-number="50">50</button>
                <button type="button" class="numberOfResults numberOfResults-100 btn btn-link" data-number="100">100</button>
            </div>
        </div>
    </div>
    <div class="row search-results">

    </div>

    <div class="row search-pager">
        <nav>
            <ul class="pager">
                <li><button id="search-previousPage" type="button" class="btn btn-default">Previous</button></li>
                <li><button id="search-nextPage" type="button" class="btn btn-default">Next</button></li>
            </ul>
        </nav>
    </div>
</div>